#first_image{
    width: 250px;
    height:300px;
}

#second_image{
    width: 250px;
    height:300px;
}

#third_image{
    width: 250px;
    height:300px;
}

#fourth_image{
    width: 250px;
    height:300px;
}

#fifth_image{
    width: 250px;
    height:300px;
}

.top-buffer { margin-top:20px; }

.image{
    margin-left: 25%;
    margin-right: 25%;
}

/*.carousel{*/

    /*width 500px;*/
    /*height: 350px;*/

/*}*/

#huge_container{
    background-color: white;
    margin-top: 50px;
    padding: 50px;
    border-radius: 20px;
}

#article_container{

    margin-top: 50px;
    background-color: blue;
    border-radius: 20px;

}

#carousel_container{

    background-color: black;
    border-radius: 20px;
    padding: 50px;
}

#article_1{
    background-color: cornflowerblue;
    padding: 35px;

}

#article_2{
    background-color: cornflowerblue;
    padding: 35px;

}

#article_2{
    margin-bottom:  25px;
}


#article_3{
    background-color: cornflowerblue;
    padding: 35px;

}

#article_4{
    background-color: cornflowerblue;
    padding: 35px;

}

#article_5{
    background-color: cornflowerblue;
    padding: 35px;

}

.card-text{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#body{
    background-color: blue;
}

.header{
    background-color: black;
    border-radius: 20px;
    /*position: sticky;*/
    /*top: 0;*/
}


.head_eye{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#article_2 .card-text {
    margin-bottom: 65px;
}


#modal_title{
    text-align: center;
}
#modal_txt{
    text-align: center;
}